.welcome {
    padding-top: 10%;
}

.text-justify {
    text-align: justify
}

.text-center {
    text-align: center
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
}